Xft.dpi: 96
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
Xcursor.theme: Adwaita

! Fonts

*.font: Iosevka:pixelsize=14
*.boldFont: Iosevka:bold:pixelsize=14

!*.font: Dina:pixelsize=12
!*.boldFont: Dina:pixelsize=12

! scrollbar
*scrollBar:             false
*scrollBar_right:       true
*scrollstyle:           plain
*scrollColor:           #32414e
*thickness:             10

! xst
st.borderpx: 25
st.termname: st-256color

! special
*.foreground:   #ffffff
*.background:   #071d22
*.cursorColor:  #ffffff

! black
*.color0:       #071d22
*.color8:       #617278

! red
*.color1:       #f8a1aa
*.color9:       #e9b3bf

! green
*.color2:       #8cc495
*.color10:      #ade1b6

! yellow
*.color3:       #f0e0aa
*.color11:      #fbf1cf

! blue
*.color4:       #8ab6c2
*.color12:      #b5dbe4

! magenta
*.color5:       #94a9d9
*.color13:      #b6cbfa

! cyan
*.color6:       #7eb5ac
*.color14:      #a3d0c8

! white
*.color7:       #b3bec1
*.color15:      #f7f8f8
